body{
    background: radial-gradient(circle, rgba(199,161,219,1) 17%, rgba(148,187,233,1) 100%);
}

label{
    width: 200px;
    display: inline-block !important;
}
.card{
    border: 0px !important;
    background: transparent !important;
}
hr{
    height:1px;border-width:0;color:gray;background-color:rgb(102, 102, 102)
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: rgb(43, 118, 204);}